
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
nav ul {
    display: flex;
   
}
nav ul li{
    list-style: none;
   
}

ul{
    justify-content: space-between;
}
.list1{
margin: 25px 25px 25px 0px;
color: rgb(9, 11, 17);
font-family: "Open Sans", sans-serif;
font-size: 30px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0%;
text-align: left;
}
.list2{
    margin: 20px 30px 0px 25px;
    margin-left: 30px;
}
.btn1{
 padding: 20px;
 font-family: Azeret Mono ;
 font-weight: 800;
 border-radius: 10px;
 opacity: 0.9;
 border: 0.5px solid black;
 background-color: white;

}
.sec1{
    background-image: url("./assets/Hero-bg.png");
   margin: 0 auto;
   text-align: center;
}
.img1{
  height: 380px;
  width: 380px;
  padding: 40px;
}
.h11{
     color: rgb(11, 14, 21);
font-family: "Open Sans", sans-serif;
font-size: 38px;
font-weight: 800;
line-height: 70px;
letter-spacing: 0%;
text-align: center;
opacity: 0.8;
}
.h41{
    color: rgb(13, 19, 33);
font-family: "Open Sans", sans-serif;
font-size: 17px;
font-weight: 450;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
padding-bottom: 20px;
opacity: 0.9;
}
.btn2{
    padding: 21px 24px 21px 24px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0%;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 20px;
    border-radius: 8px;
    color: aliceblue;
background: rgb(13, 19, 33);

}
.sec2{
    margin: 0 auto;
    text-align: center;
    margin: 50px;
    background-color: rgba(13,19,33,0.02);
    border-radius: 10px;
}
.h12{
    color: rgb(13, 19, 33);
font-family: "Open Sans", sans-serif;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
 padding-top: 40px;
 opacity: 0.8;
}
.h42{
    color: rgb(13, 19, 33);
font-family: "Open Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.9;
}
.div-1{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 20px;
    justify-content: space-between;
}
.parent-div{
    margin: 0 auto;
    align-items: center;
}
.h13{
 color: rgba(13, 19, 33, 0.7);
font-family: "Open Sans", sans-serif;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;

}
.h43{
    color: rgb(13, 19, 33);
font-family: "Open Sans", sans-serif;
font-size: 16px;
font-weight: 350;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.btn3{
    padding: 15px 25px 15px 25px;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
font-family:Azeret Mono ;
font-weight: 700;
font-size: 18px;
margin-top: 10px;
}
.sec3{
    margin: 0 auto;
    text-align: center;
}
.h15{
    color: rgb(26, 29, 37);
font-family: "Open Sans", sans-serif;
font-size: 38px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
opacity: 0.8;
}
.h44{
    color: rgb(13, 19, 33);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.idiv{
    border: 0.5px solid rgb(160, 156, 156);
    margin-left: 340px;
    margin-right:340px ;
    border-radius: 16px;
    margin-top: 40px;
}
.ifm{
    padding: 35px;
}
.additional{
    margin-top: 150px;
}
.Box-parent{
    display: flex;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-around;
}
.h16{
    color: rgb(13, 19, 33);
font-family: "Open Sans", sans-serif;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
opacity: 0.8;
}
.h45{
    color: rgb(13, 19, 33);
font-family: "Open Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.ancor{
    color: rgb(13, 19, 33);
font-family: "Open Sans", sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;

}
.box-div1{
    background: rgba(255, 76, 30, 0.05);
  border-radius: 18px;
}
.box-div{
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
 
}
.box-div2{
    background: rgba(0, 76, 232, 0.05);
    border-radius: 18px;

  }
.box-div3{
    background: rgba(106, 104, 95, 0.05);
    border-radius: 18px;
  }